<h2>My Cats</h2>
<ul class = "cats">
    <!-- NgFor is a structural directive -- meaning that it changes the strcuture of the dom
    
    ngFor allows us to create something similar to an enhanced loop, but strcuturally

        We typically use NgFor for lists-->

    <!-- by adding something like [class.some-css-class] I am adding CSS conditionally -->
    <li *ngFor="let myCat of allCats" [class.selected] = "myCat === selectedCat"  (click)="onSelect(myCat)">
        <span class="box">{{ myCat.id }}</span> {{ myCat.name }}
    </li>

</ul>

<!-- Here we had some code which we allocated to a separate component....-->

<!-- this is property binding! -->
<app-cat-detail [cat] = "selectedCat"></app-cat-detail>
