<!-- we use ngIf to conditionally include or exclude a block of HTML-->
<div *ngIf="cat"> <!-- This refers to the cat? property in the cat-detail.component.ts file-->

    <h2>{{ cat.name | uppercase }} Details:</h2>
    <div><span>id: </span> {{ cat.id }} </div>

    <!-- incorporating 2 way databinding  -->
    <div>
        <label for="cat-name">Cat name: </label>
        <input id="cat-name" [(ngModel)]="cat.name" placeholder="cat name!">
    </div>

    <button (click)="goBack()">Go Back</button>
    <button (click)="save()">Save Cat</button>    

</div>