<div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{ title }}</span>
    </div>

    <!-- the Main component will have an img property and a title property that we're displaying in the html template-->
    <div class="panel-body">
        <img class="image-center" src={{image}}/>
        <div class="list-group">

            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right"></span>
                <strong>Find</strong> a Superhero
            </div>

            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right"></span>
                <strong>Register</strong> a Superhero
            </div>

            
            <div class="list-group-item">
                <span class="glyphicon glyphicon-arrow-right"></span>
                <strong>Fetch</strong> all Superheroes
            </div>

        </div>
    </div>
</div>