<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/tables.css">

<div class="row centered-form center-block">
	<div class="container col-9 col-offset-1">
	<div>
		<h5><i>All Existing Requests</i></h5>
	</div>
	<br>
	<div>
		<table id="all" class="display" style="width: 100%">
			<thead>
				<tr>
					<th></th>
					<th>Submit Date</th>
					<th>Type</th>
					<th>Amount</th>
					<th>Status</th>		
				</tr>
			</thead>
		</table>
	</div>