<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/tables.css">

<div class="row centered-form center-block">
	<div class="container col-10 col-offset-1">
		<div>
			<h5 id="welcomeMessage"><i></i></h5>
		</div>
		<br>
		<div>
			<table id="pending" class="display" style="width: 100%">
				<thead>
					<tr>
						<th></th>
						<th>Employee</th>
						<th>Type</th>
						<th>Amount</th>
						<th>Submit Date</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>
