<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SpringMVC</display-name>
  
 <!-- Tell your App where the application Context file is -->
 <context-param> <!--  think global!!! -->
 	<param-name>contextConfigLocation</param-name>
 	<param-value>/WEB-INF/applicationContext.xml</param-value>
 </context-param>
  
  <!--  We need to add something called the Context Load Listener -->
  <!--  The context-load listener reads and parses our applicationContext.xml file -->
  <listener>
  		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  		<!-- This automates the create of the Application Context so that Tomcat start up both the instantiation of beans and our servlet -->
  </listener>
  
  
  <!--  Step 1. Declare the Dispatcher Servlet in your web.xml -->
  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
  	<url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  
</web-app>