<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		
		<!-- Database Connection Settings -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://datarevdatabase.ceqrfdqfbwyy.us-east-2.rds.amazonaws.com/revdata</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">Durdane01%</property>
	 
		<!-- Connection Pool Size (built-in) -->
		<property name="hibernate.connection.pool.size">1</property>
	 
		<!-- show all generate SQL query -->
		<property name="show_sql">true</property>
	 
		<!-- Drop the existing tables and create new one --> 
		<property name="hbm2ddl.auto">update</property> <!-- create -->
	 
		<!-- Mention here all the model classes along with their package name --> 
		<mapping class="com.revature.models.User"/>
		<mapping class="com.revature.models.UserRole"/>
		<mapping class="com.revature.models.Reimbursement"/>
		<mapping class="com.revature.models.ReimbStatus"/>
		<mapping class="com.revature.models.ReimbType"/>
	</session-factory> 
</hibernate-configuration>

